	
<body>
	
	
	
	<div class="container-fluid well" style="margin-top:-20px">
		<div id="myCarousel" class="carousel slide">
			<!-- Slider  starts  -->
			<div class="carousel-inner">
				<!-- Slide 01 goes here-->
				<div class="item active">
					<div class="container">
						<div class="row-fluid">
							<div class="span6">
								<!-- The classes animated, bounceInRight are used to animate the slide-->
								<div class="animated fadeInLeftBig">
									<div class="row">
										<span class="span4"></span>
										<div class="span8">
											<h2>Domotica el Termostato Inteligente</h2>
											<i class="icon-check"></i> Una nueva manera de controlar la temperatura de su hogar<br><br>
											<i class="icon-check"></i> Ofresemos este espectacular producto<br><br>
											<i class="icon-check"></i> Mostrandole el ahorro de energia de su hogar<br><br>
											<i class="icon-check"></i> Con opciones de configuracion para su manejo<br><br>
											<i class="icon-check"></i> Podra controlar remotamente su hogar tambien<br><br>
											<i class="icon-check"></i> Adquieralo ahora mismo<br><br>
										</div>
									</div>
								</div>
							</div>
							<div class="span6">
								<img class="animated fadeInRightBig" src="assets/slide01.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide 02 goes here-->
				<div class="item">
					<div class="container">
						<div class="row-fluid">
							<div class="span6">
								<!-- Slider Image can be changed below-->
								<img class="animated bounceInDown" src="./page_files/slide02.png" alt="">
							</div>
							<div class="span6">
								<!-- The classes animated, bounceInRight are used to animate the slide-->
								<div class="content-right animated bounceInRight">
									<h2>Useful plugins included. Fully customizable</h2>
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed felis dui. Phasellus ac justo et nisi lobortis blandit lobortis id urna.</p>
										<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed felis dui. Phasellus ac justo et nisi lobortis blandit lobortis id urna.</small>
									</blockquote>
									<br><br><br>									
									<a href="#" class="btn btn-primary btn-block"> Oh! I can use buttons on slider. coool!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Slide 03 goes here-->
				<div class="item">
					<div class="container">
						<div class="row-fluid">
							<div class="span6">
								<div class="content-left animated rotateInDownLeft">
									<h2>HTML5 &amp; CSS3</h2><br><br>
									<blockquote>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed felis dui. Phasellus ac justo et nisi lobortis blandit lobortis id urna.</p>
										<small>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed felis dui. Phasellus ac justo et nisi lobortis blandit lobortis id urna.</small>
									</blockquote><br><br>															  					
									<p class="animated fadeInLeftBig"><i class="icon-check"></i>It works on just about every platform, is compatible with older browsers, and handles errors gracefully. You can create powerful, easy-to-maintain, future-proof web page</p>
									<br><br>
									<b><a href="#" class="btn btn-inverse"> Read more..</a></b>
								</div>
							</div>
							<div class="span6">
								<img class="animated rotateInUpRight" src="./page_files/slide03.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Slider ends here -->
			
			<!-- Left rigt controls of the slider -->
			<a class="carousel-control left" href="#" data-slide="prev">‹</a>
			<a class="carousel-control right" href="#" data-slide="next">›</a>
		</div>
	</div>
	
	<!--Footer part starts here-->
	<div class="footer">
		<div class="container">
			<div class="row-fluid">
				<span class="span2"></span>
				<!-- Change # to social links of your profile-->
				<span class="span1"><a href="#"> <i class=" icon-twitter icon-4x"></i></a> </span>
				<span class="span1"> <a href="#"><i class=" icon-google-plus icon-4x"></i></a> </span>
				<span class="span1"><a href="#"> <i class=" icon-facebook-sign icon-4x"></i></a> </span>
				<span class="span1"> <a href="#"><i class=" icon-linkedin icon-4x"></i></a> </span>
				<div class="span6"> 
					<!--<form class="form-horizontal">
						<div class="control-group">
							<div class="controls">
								<div class="input-prepend">
									<span class="add-on icon-envelope"></span>
									<input class="span14" id="prependedInput" type="text" placeholder="Email Address">
								</div>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<label class="checkbox">  <input type="checkbox"> Receive newsletters ? </label>
								<button type="submit" class="btn btn-success btn-large">Subscribe</button>
							</div>
						</div>
					</form>-->
				</div>
			</div>
			<div class="row"></div>
			<div class="row">
				<span class="span3"></span>
				<!-- Copyright goes here-->
				<span class="span6 text-center">  © 2014 <a href="#">Terms &amp; Conditions.</a> All rights reserved </span>
				<span class="span3"> </span>
			</div>
		</div>
	</div>
		
</body>