    <style>
* { box-sizing: border-box; -moz-box-sizing:border-box; position:relative;}
      html, body {margin:0; padding:0; background: #13181f; color: #e7d6ca; font-family: "Helvetica", Arial, sans-serif}
      body {min-width:800px;}
      input {color:#e7d6ca; font-size:1em; text-align:center;}
      ul {padding:0; margin:0; list-style: none;}
      li {display:inline-block; width:100%;}
      ul li ul li {width:auto;}
      ul li ul {display:inline-block;}
      .header {color: #e7d6ca; font-family: "Helvetica", Arial, sans-serif}
        .header p {display:inline-block; width:33%; text-align: center;}
      .temp_control {box-shadow: 0 3px 10px #000; border-top: rgb(64,68,75); border-bottom: rgb(64,68,75); z-index: 10; padding:2em;
        background: rgb(77,80,87);
        background: -moz-linear-gradient(top,  rgba(77,80,87,1) 0%, rgba(64,68,75,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,80,87,1)), color-stop(100%,rgba(64,68,75,1)));
        background: -webkit-linear-gradient(top,  rgba(77,80,87,1) 0%,rgba(64,68,75,1) 100%);
        background: -o-linear-gradient(top,  rgba(77,80,87,1) 0%,rgba(64,68,75,1) 100%);
        background: -ms-linear-gradient(top,  rgba(77,80,87,1) 0%,rgba(64,68,75,1) 100%);
        background: linear-gradient(to bottom,  rgba(77,80,87,1) 0%,rgba(64,68,75,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5057', endColorstr='#40444b',GradientType=0 );
      }
        .temp_control p {margin:0; display:inline-block; width:25%;}

        /*Slider Styles*/
        .slider {display:inline-block; width:74%;}
        .ui-widget-content {
            background: rgb(78,165,207);
            background: -moz-linear-gradient(left,  rgba(78,165,207,1) 0%, rgba(99,219,207,1) 33%, rgba(232,199,128,1) 67%, rgba(197,86,77,1) 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(78,165,207,1)), color-stop(33%,rgba(99,219,207,1)), color-stop(67%,rgba(232,199,128,1)), color-stop(100%,rgba(197,86,77,1)));
            background: -webkit-linear-gradient(left,  rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
            background: -o-linear-gradient(left,  rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
            background: -ms-linear-gradient(left,  rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
            background: linear-gradient(to right,  rgba(78,165,207,1) 0%,rgba(99,219,207,1) 33%,rgba(232,199,128,1) 67%,rgba(197,86,77,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ea5cf', endColorstr='#c5564d',GradientType=1 );
        }
        .ui-widget-header {background:transparent;}
        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background:#55585f; border-radius:100em;}
        .ui-slider .ui-slider-handle {height:2em; width:2em; top:-.75em; -webkit-box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.3); box-shadow: 0 0.25em 0.75em rgba(0, 0, 0, 0.3); border:1px solid rgba(64,69,77,1); cursor: pointer;
            background: rgb(86,89,97);
            background: -moz-linear-gradient(top,  rgba(86,89,97,1) 0%, rgba(64,69,77,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,89,97,1)), color-stop(100%,rgba(64,69,77,1)));
            background: -webkit-linear-gradient(top,  rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
            background: -o-linear-gradient(top,  rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
            background: -ms-linear-gradient(top,  rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
            background: linear-gradient(to bottom,  rgba(86,89,97,1) 0%,rgba(64,69,77,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565961', endColorstr='#40454d',GradientType=0 );

        }
        .ui-slider .ui-slider-handle:after { content: ''; display: block; position: absolute; top: 7px; right: 7px; bottom: 7px; left: 7px; z-index: -1; -webkit-border-radius: 100em; -moz-border-radius: 100em; -ms-border-radius: 100em; -o-border-radius: 100em; border-radius: 100em; border: 1px solid rgba(64,69,77,.5);
            background: rgb(64,69,77);
            background: -moz-linear-gradient(top,  rgba(64,69,77,1) 0%, rgba(86,89,97,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,69,77,1)), color-stop(100%,rgba(86,89,97,1)));
            background: -webkit-linear-gradient(top,  rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
            background: -o-linear-gradient(top,  rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
            background: -ms-linear-gradient(top,  rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
            background: linear-gradient(to bottom,  rgba(64,69,77,1) 0%,rgba(86,89,97,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40454d', endColorstr='#565961',GradientType=0 );
        }
        :focus {outline:none;};
        /*End Slider Styles*/

      .main {z-index: 9;}
      .top {border-bottom:2px solid #000;}
      .day, .trash {padding:1em 0;}
      .temps li {padding: .4em 0;}
      .day {display:inline-block; background:#252a31; padding-left:2em; padding-right:2em; width:25%; box-shadow: 3px 2px 10px #000;}
      .temps {text-align: center; width:74.5%;}
        .temps li {width:16%;}
      .circle {border-radius:100em; display:block; width:2.5em; padding:.6em 0; margin:0 auto; text-shadow: 0 1px #464a52; border:1px solid rgba(66,71,79,1); cursor: pointer;
            background: rgb(77,80,87);
      
            background: -moz-linear-gradient(top,  rgba(77,80,87,1) 0%, rgba(66,71,79,1) 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,80,87,1)), color-stop(100%,rgba(66,71,79,1)));
            background: -webkit-linear-gradient(top,  rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
            background: -o-linear-gradient(top,  rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
            background: -ms-linear-gradient(top,  rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
            background: linear-gradient(to bottom,  rgba(77,80,87,1) 0%,rgba(66,71,79,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5057', endColorstr='#42474f',GradientType=0 );
      }
      .trash {display:inline-block; background:#31363e; text-align:center; width:25%; box-shadow: 3px 1px 10px #000; cursor: pointer;}
      .active {background:#b1cfa1;}
    </style>
    <div class="header">
        <p>Agenda de control de temperatura</p>
        <p>7:00 AM</p>
        <p>Martes, 20 de Mayo de 2014</p>
    </div>
    <div class="temp_control">
        <p>Control de temperatura</p>
        <div aria-disabled="false" id="slider" class="slider ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div style="width: 42.8571%;" class="ui-slider-range ui-widget-header ui-corner-all ui-slider-range-max"></div><a style="left: 57.1429%;" class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a></div>
    </div>
    <div class="main">
        <ul class="top">
            <li>
                <span class="day">Lunes</span>
                <ul class="temps">
                    <li><input id="m12" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="m1" class="circle" value="75" readonly="" type="text"></li>
                    <li><input style="background-color: rgb(229, 191, 124);" id="m2" class="circle active" value="75" readonly="" type="text"></li>
                    <li><input id="m3" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="m4" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="m5" class="circle" value="75" readonly="" type="text"></li>
                </ul>
            </li>
        </ul>
        <ul class="top">
            <li>
                <span class="day">Martes</span>
                <ul class="temps">
                    <li><input id="tu12" class="circle" value="75" readonly="" type="text"></li>
      
                    <li><input id="tu1" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="tu2" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="tu3" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="tu4" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="tu5" class="circle" value="75" readonly="" type="text"></li>
                </ul>
            </li>
        </ul>
        <ul class="top">
            <li>
                <span class="day">Miercoles</span>
                <ul class="temps">
                    <li><input id="w12" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="w1" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="w2" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="w3" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="w4" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="w5" class="circle" value="75" readonly="" type="text"></li>
                </ul>
            </li>
        </ul>
        <ul class="top">
            <li>
                <span class="day">Jueves</span>
                <ul class="temps">
                    <li><input id="th12" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="th1" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="th2" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="th3" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="th4" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="th5" class="circle" value="75" readonly="" type="text"></li>
                </ul>
            </li>
        </ul>
        <ul class="top">
            <li>
                <span class="day">Viernes</span>
                <ul class="temps">
                    <li><input id="f12" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="f1" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="f2" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="f3" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="f4" class="circle" value="75" readonly="" type="text"></li>
                    <li><input id="f5" class="circle" value="75" readonly="" type="text"></li>
                </ul>
            </li>
        </ul>
        <ul class="top">
            <li>
                <span class="trash">Hecho</span>
                <ul class="temps">
                    <li>12 PM</li>
                    <li>1 PM</li>
                    <li>2 PM</li>
                    <li>3 PM</li>
                    <li>4 PM</li>
                    <li>5 PM</li>
                </ul>
            </li>
        </ul>
    </div>
  


    <script>
    $(function() {
      $( "#slider" ).slider({
        range: "max",
        min: 50,
        max: 99,
        value: 75,
        slide: function( event, ui ) {
          $( ".active" ).val( ui.value );
          var x = $( ".active" ).val();
          if (x <= 60) {
            $(".active").css("background-color", "#4ea6cf");
          }
          else if (x > 60 && x <= 65) {
            $(".active").css("background-color", "#5ac5cf");
          }
          else if (x > 65 && x <= 70) {
            $(".active").css("background-color", "#7dd7bf");
          }
          else if (x > 70 && x <= 75) {
            $(".active").css("background-color", "#b1cfa1");
          }
          else if (x > 75 && x <= 80) {
            $(".active").css("background-color", "#e5bf7c");
          }
          else if (x > 80 && x <= 85) {
            $(".active").css("background-color", "#d79168");
          }
          else if (x > 85 && x <= 90) {
            $(".active").css("background-color", "#cd7159");
          }
          else if (x > 90) {
            $(".active").css("background-color", "#c4463a");
          };
        }
      });
      $( ".active" ).val( $( "#slider" ).slider( "value"));
    });

    $( ".circle" ).click(function() {
      $(".active").removeClass("active");
      $(this).addClass("active");
    });

    </script>

<%= link_to 'Done', locations_path %>
